/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}

/*Corbel Bold, Helvetica Neue Bold, Helvetica Neue Condensed Bold, Helvetica Neue Light, Helvetica Neue Regular and
Helvetica Neue UltraLight*/

body {
  font-family: 'Helvetica', 'Ariel', sans-serif;
  color: #000000;
  background-color: #c9e6e5;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #00a0aa;
  font-weight: lighter;
}

h1 {
  font-size: 1.5em;
  font-weight: lighter;
}

h2 {
  font-size: 1.2em;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  background-color: #00a0aa;
  width: 100vw;
  border-bottom-width: 3px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.logo-box {
  padding-left: 50px;
  padding-top: 5px;
}

.navbar li + li:before {
  content:'\00B7';
  padding-right: 12px;
}

.navbar li {
  font-family: 'Helvetica', 'Ariel', sans-serif;
  display: inline;
  list-style: none;
  padding-right: 15px;
  font-style: none;
  font-weight: bolder;
}

.navbar a:link, a:visited {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Helvetica Neue Bold', 'Helvetica', 'Ariel', sans-serif;
}

.navbar a:hover {
  color: #c9e6e5;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
}

.charity-number {
  padding: 20px;
  font-size: 0.7em;
}

.service-bar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #00a0aa;
  width: 100vw;
  height: 50px;
  border-top-width: 3px;
  border-top-color: #000000;
  border-top-style: solid;
}

.service-bar h1{
  color: #ffffff;
}

.three-cols {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding-top: 20px;
}

.three-cols > div {
  min-width: 200px;
  text-align: center;
  padding: 5px;
}

.three-cols > div h2 {
  font-weight: bolder;
}


.main-image-section {
  /*display: flex;;*/
  position: relative;
  /*flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;*/
  max-height: 80vh;
  width: auto;
  background-color: #556B2F;
  overflow-y: hidden;
}

.main-image {
  width:100%;

}

.tagline {
  position: absolute;
  bottom: 10px;
  left: 20px;

  font-family: 'Corbel Bold', sans-serif;
  font-size: 2em;
  color: #ffffff;
  font-weight: bolder;
  max-width: 80%;
  text-shadow: 2px 2px 10px black, -2px -2px 10px black;
}

.large-logo {
  position: absolute;
  top: 50px;
  left: 200px;

}

.main-section {
  padding: 20px 100px;
}
