extends ./layout.pug

block content
  section.main-section
    h1 Events

      h3 Quiz Night
      p You are invited to a Quiz Night to raise funds for The Autism Group

      .event-time Thursday 20th October 2016, 7:45pm to 10:30pm
      address Neville Hall, Milley Road, Waltham St Lawrence, RG10 0JP



      p Tickets £10 including
      ul
        li Fish/sausage and chip supper served at 8pm (vegetarian option available)
        li Cash bar and raffle

      p Quiz starts at 8:30pm
      p Teams of up to 6

      p.
        To book your place and food, please contact
        Nicola on: #[a(href="tel:+447748167469") 07748 167469] or
        #[a(href="mailto:fundraising@theautismgroup.org.uk") fundraising@theautismgroup.org.uk].

      a(href="/quiz.pdf") Click here to view the full poster for this event.
