extends ./layout.pug

block content
  section.main-image-section
    h1.image-text Understanding, Acceptance &amp; Support
  section.service-section
    .service-bar
      h1 Our Services

    .three-cols
      div.
        For more information on #[h2 Special Interest Groups]
        Contact Ruth on 07454 375071
        #[br]or email clubs@theautismgroup.org.uk

      div.
        For more information on #[h2 Training]
        Contact Tanya on 07463 337851
        #[br]or email training@theautismgroup.org.uk

      div.
        For more information on #[h2 Parent Support]
        Contact Tricia on 07423 636339
        #[br]or email tricia@theautismgroup.org.uk
