doctype html
html
  head
    meta(charset="utf-8")
    title The Autism Group
    link(rel="stylesheet" href="/style.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header
      .logo-box
        a(href="/")
          img(src="/logo-white.svg" height="75px" class="top-logo")
      nav.navbar
        ul
          li
            a(href="/") HOME
          li
            a(href="/about") ABOUT US
          li
            a(href="/groups") SPECIAL INTEREST GROUPS
          li
            a(href="/training") TRAINING
          li
            a(href="/contact") CONTACT

    block content

    footer
      .charity-number Charity number 1166787.
