extends ./layout.pug

block content
  section.main-section
    h1 Training
    p.
      The Autism Group is passionate about autism education for all and is
      committed to providing practical, affordable training for parents, carers
      and professionals. All of our trainers are fully qualified and have many
      years of experience working in the autism field. We aim to match our
      trainers to the course content that best reflects their practical and
      professional experience to give you the best possible information and
      advice.

    p.
      Training for parents and carers covers a wide range of topics that
      promote a positive approach, aimed at boosting confidence and reducing
      stress and anxiety. All training for parents is provided by trainers with
      children on the autism spectrum.

    p Our Courses include:

    ul
      li
        h3 The Autism Tool-kit for parents
        | A range of 2 hour workshops each with a
        | unique focus, giving you information and practical ideas for you and your
        | child.

      li
        h3 The Autism Tool-kit for professionals
        | A range of workshops offering
        | information and strategies for autism friendly practice and inclusion in the
        | workplace.

      li
        h3 Autism in an hour
        | A practical overview of autism which is comprehensive,
        | affordable and can fit into a lunch break for staff with limited time and
        | funds.

      li
        h3 Bespoke packages
        | Designed to suit your individual needs.

    p.
      For more
      information on Training contact us on: 07463 337851 or e-mail Tanya at
      tagthamesvalley@gmail.com
